#container
{                                              
    width:600px;
    margin-top:10px;
    margin:auto;
    background:#51473d;
    border:1px solid #9c9084;
}
#topbar
{
    background-image: url(pics/coffey.jpg);
    background-position: center bottom;
    width:600;
    height:215px;
    background-repeat:no-repeat;
    padding:5px;
    
    font-family:Verdana;
    color:#eae7d2;
    font-size:10px;
    font-style:italic;
    text-align:right;
}
#bottomcontent
{
    color:#797066;
    font-family:Verdana;
    font-size:10px;
    font-style:italic;
    margin-left:10px;
    margin-bottom:;
}
#content
{
    width:600px;
    min-height:215px;
    background:#eae7d2;
}
#menu
{
    margin-left:-25px;
    margin-bottom: 53px;
}

#menu ul a:link                                      
{
    display:block;
    float:left;
    color:#eae7d2;
    background-color:#797066;
    padding:10px 20px 10px 20px;
    text-align:center;
    text-decoration:none;
    font-family:Verdana;
    font-size:14px;
    text-transform:capitalize;
}
.active
{
    color:#797066;
    background-color:#eae7d2;
}
#menu ul a:hover                                      
{
    color:#eae7d2;
    background-color:#9c9084;
}
#menu a:link
{
    display:none;
}
a
{
    font-size:12px;
    font-family:Verdana;
    color:#797066;
}
ul
{
    list-style-type:none;
}
#maincontent h1
{
    color:#797066;
    font-family:Times;
    font-weight:normal;
}
h2
{
    color:#797066;
    font-family:Times;
    font-weight:normal;
    font-size:14px;
}
#maincontent
{
    width:300px;
    float:left;
    margin-left:10px;   
}
#subcontent
{
    margin-top:20px;
    width:250px;
    float:right;
    border-left:1px dashed;
}

#maincontent p
{
    font-size:13px;
}
#subcontent h1
{
    color:#797066;
    font-family:Times;
    font-weight:normal;
    font-size:20px;
}
#subcontent p
{
    font-size:10px;
}
p
{
    color:#797066;
    font-family:Verdana;
}

/*body #eae7d2
links hover #9c9084

links: inactive #797066

text #786e64
*/